<!DOCTYPE html>
<html>
<head>
    <title>Upload Resume</title>
</head>
<body>
    <h1>Upload Your Resume</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if extracted_text %}
        <h2>Extracted Text</h2>
        <pre>{{ extracted_text }}</pre>
    {% endif %}
    {% if ai_json %}
        <h2>AI JSON</h2>
        <pre>{{ ai_json }}</pre>
    {% endif %}
    {% if ats_score is not None %}
        <h2>ATS Score: {{ ats_score }}</h2>
    {% endif %}
    {% if ats_score_qualification is not None %}
        <h2>ATS Score (Qualification): {{ ats_score_qualification }}</h2>
    {% endif %}
    {% if ats_score_education is not None %}
        <h2>ATS Score (Education): {{ ats_score_education }}</h2>
    {% endif %}

    {% if ats_score_work_experience is not None %}
        <h2>ATS Score (Work Experience): {{ ats_score_work_experience }}</h2>
    {% endif %}

    {% if ats_score_project_experience is not None %}
        <h2>ATS Score (Project Experience): {{ ats_score_project_experience }}</h2>
    {% endif %}

    {% if ats_score_quantification_metrics is not None %}
    <h2>ATS Score (Work Quantification Experience): {{ ats_score_quantification_metrics }}</h2>
    {% endif %}

    
</body>
</html>
